{% extends 'base.html' %}

{% block content %}


{% if status == 'bloqueado' %}

<div class="container text-center mt-5">
    <div class="card p-5 shadow">
        <h1 class="text-warning">
            Sua conta está bloqueada no momento
        </h1>
        <p class="lead mt-3">
            Entre em contato com a equipe de suporte.
        </p>
        <a href="{{ url_for('auth.login') }}" class="btn btnn btn-primary mt-4">
            Voltar para Login

        </a>
    </div>
</div>

{% else %}

<div class="container text-center mt-5">
    <div class="card p-5 shadow">
        <h1 class="text-success">
            Cadastro Recebido
        </h1>
        <p class="lead mt-3">
            Sua conta foi criada com sucesso.
        </p>
        <a href="{{ url_for('auth.login') }}" class="btn btnn btn-primary mt-4">
            Voltar para Login

        </a>
    </div>
</div>

{% endif %}

{%endblock%}